<!DOCTYPE html>
<html lang="en">
  <head>
        {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Care For Me</title>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

   <!-- Custom styles for this template -->
    <link href="{% static "login/cover.css" %}" rel="stylesheet">

<script src="{% static "login/facebook.js" %}"></script>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!--
                <h3 class="masthead-brand">Cover</h3>
              -->
              <nav>
                <ul class="nav masthead-nav">
                  <!--
                    <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                  -->
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Care For Me</h1>
            <p class="lead">Care For Me is a depression alleviation website which lets you know that <b>you matter</b> when you most need it.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Sign Up</a>
                <div id="fb-root"></div>
                <!--<script src="{% static "login/facebook.js" %}"></script>-->
                <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>

            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>In Honor of <a href="http://www.covenantfuneralservice.com/obituaries/connor-c-cormier/">Connor Cormier</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
